<!DOCTYPE html>
{% extends "alt_base.html" %}
{% block content %}
<section>
    <header>
        <h3 class="center" id="title">
            <span class="retro">Hello </span>
            <span class="review">{{ user.username }}</span>
        </h3>
        <hr>
        <p>This is your account page where you can view comments that you have made on previous threads.</p>
    </header>
</section>
{% if user.comment_tag|length > 0 %}
    {% for t in tag %}
    {% if t in user.comment_tag %}
        <section>
            <header>
                <h4>{{ friendly[loop.index-1] }}</h4>
                <hr>
            </header>
    {% endif %}
    {% for i in user %}
        {% if t == user.comment_tag[loop.index-1] %}
            {% if loop.index-1 == 0 or user.comment_title[loop.index-2] != user.comment_title[loop.index-1] or user.game_title[loop.index-2] != user.game_title[loop.index-1] %}
                <details class="comment bottom">
                    <summary>
                        {{ user.comment_title[loop.index-1] }}
                        <span class="right">by {{ user.game_title[loop.index-1] }}</span>
                    </summary>
            {% endif %}
            <span class="content">{{ user.comment[loop.index-1] }}</span>
            <br>
            {% if user.comment_tag[loop.index-1] != user.comment_tag[loop.index] or user.comment_title[loop.index-1] != user.comment_title[loop.index] or user.game_title[loop.index-1] != user.game_title[loop.index] %}
                </details>
            {% endif %}
        {% endif %}
    {% endfor %}
    </section>
    {% endfor %}
{% endif %}
{% endblock %}