<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Reviews</title>

    <link rel="shortcut icon" href="static/img/RR.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/general_style.css') }}">
</head>
<body>
    <main>
        <nav>
            <a class="a-none" href="{{ url_for('index') }}">
                <image class="logo" src="/static/img/RR.png"></image>
                <b>
                    <span class="retro">Retro</span> <span class="review">Reviews</span>
                </b>
            </a>
        </nav>

        {% block content %}
        {% endblock %}

        <footer>
        </footer>
    </main>
</body>
</html>