<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Retro Reviews</title>

    <link rel="shortcut icon" href="static/img/RR.png">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/general_style.css') }}">
</head>
<body>
    <main>
        <nav>
            <a class="a-none" href="{{ url_for('index') }}">
                <image class="logo" src="/static/img/RR.png"></image>
                <b>
                    <span class="retro">Retro</span> <span class="review">Reviews</span>
                </b>
            </a>
            <form id="search-bar" class="m-r" action="{{ url_for('search') }}" method="POST">
                <input type="search" name="Search" autocomplete="off">
                <button type="submit" >
                    <image id="search-icon" src="/static/img/search-transparent.png"></image>
                </button>
            </form>      
        </nav>

        {% block content %}
        {% endblock %}

        <footer>
            {% if "user_id" not in session %}
                <a class="a-none login-link" href="{{ url_for('login') }}">
                    <span class="red">Login</span>
                    <span> & </span>
                    <span class="blue">Signup</span>
                </a>
            {% else %}
                <a class="a-none blue singout-link" href="{{ url_for('account') }}">Account</a>
                <br>
                <a class="a-none red signout-link" href="{{ url_for('signout') }}">Signout</a>
            {% endif %}
        </footer>
    </main>
</body>
</html>