<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<section>
    <header>
        <h3 class="center" id="title">
            <span class="retro">Retro</span>
            <span class="review">Reviews</span>
        </h3>
        <hr>
        <p>This website is a location for gamers to create a community and make a platform for both learning and support. I want this site to become a strong platform to provide some gamers with lore, facts or guides and along with that message boards or comment sections.</p>
    </header>
    <details class="red">
        <summary>What is the purpose of this website?</summary>
        <p>This website with allow for you to have the ability to use the search bar to find a game and begin to give information on either what happens in the game, some tricks, trivia or use the message board for any extra help or questions you may need answering.</p>
    </details>
    <details class="blue">
        <summary>How will this site work?</summary>
        <p>This site will contain information mostly obtains from some of the lovely users, people would check the information to make sure that it is correct and not going against community guide lines. Once the content the user has submitted is factually and practically correct it will be submitted as part of a section within the webpage.</p>
    </details>
    <details class="red">
        <summary>How will the different pages work?</summary>
        <p>They will follow a simple but effect layout design to offer the users a universal and effective theme and design that can allow for easy navigation. This will be designed as follows. The search bar will be used to find a game, if a game is found the user can read about the game or begin to actively find comments on the board or add comments to find or help themselves or others within the community. The other part of the page will be designed to contain information that has been authorized and has been included as part of the lore.</p>
    </details>
    <details class="blue">
        <summary>How will accounts work on this website?</summary>
        <p>For most parts it will be a tagged, anonymous board where people can post and offer support but at a later point may possible contain accounts that are locked and secure. Once accounts will be made I will create a specific system to enable the control and security of the accounts.</p>
    </details>
    <details class="red">
        <summary>What is the RR mark?</summary>
        <p>Well this was a way to indicate that I have evaluated a piece of content and noticed something about the work so I will create a blue mark aside the comment and the title if it has been crafted correctly. You may also be able to create content that has already gained a blue mark for others to see.</p>
    </details>
</section>
{% endblock %}