<!DOCTYPE html>
{% extends "alt_base.html" %}
{% block content %}
<section>
    <header>
        <h3 class="center" id="title">
            <span class="retro">Retro</span>
            <span class="review">Reviewer</span>
        </h3>
        <hr>
        <p>On this webpage you have the posibility to either create an account if you dont currently have one or login to an existing account below.</p>
    </header>
    <h3>
        <span class="retro"></span>
    </h3>
    <form action>
        <label for="Email">Email: </label>
        <input type="text" placeholder="Enter an email" name="Email" autocomplete="off" required>
        <br>
        <label for="Email">Username: </label>
        <input type="text" placeholder="Enter an email" name="Email" autocomplete="off" required>
        <br>
        <button class="large-font red login-button" type="submit">Login</button>
        <button class="large-font blue login-button" type="submit">Signup</button>
    </form>
</section>
{% endblock %}