<!DOCTYPE html>
{% extends "alt_base.html" %}
{% block content %}
<section>
    <header>
        <h3 class="center" id="title">
            <span class="retro">Retro</span>
            <span class="review">Reviewer</span>
        </h3>
        <hr>
        <p>On this webpage you have the posibility to either create an account if you dont currently have one or login to an existing account below.</p>
    </header>
    <h3>
        <span class="retro"></span>
    </h3>
    <p class="retro">{{ error_message }}</p>
    <form class="center" action=" {{ url_for('signin') }} " method="POST">
        <label for="Email">Email: </label>
        <input type="text" placeholder="Enter an/the email" name="Email" autocomplete="off" required>
        <br>
        <label for="Username">Username: </label>
        <input type="text" placeholder="Enter an/the username" name="Username" autocomplete="off" required>
        <br>
        <label for="Passw">Password: </label>
        <input type="password" placeholder="Enter an/the password" name="Passw" autocomplete="off" required>
        <br>
        <button class="large-font red login-button" name="Submit" type="submit" value="login">Login</button>
        <button class="large-font blue login-button" name="Submit" type="submit" value="singup">Signup</button>
    </form>
</section>
{% endblock %}