<!DOCTYPE html>
{% extends "alt_base.html" %}
{% block content %}
<section>
    <header>
        <h3 class="center" id="title">
            <span class="retro">Retro</span>
            <span class="review">Reviewer</span>
        </h3>
        <hr>
        <p>We are sorry but that we could not find what you want. Using the form below you are able to enter the games name and a quick description for a future page on the game.</p>
    </header>
    <h4 class="blue" >What game where you looking for?</h4>
    <br>
    <hr>
    <p class="blue">You can use the following text inputs to tell me the title of the game, the console on which you played it on and also a quick detail about how this game begins. You have a total of 50 max words for the title, 36 for console and 350 for the description.</p>
    <form method="POST" action="{{ url_for('post') }}" class="center">
        <input type="text" maxlength="50" placeholder="Enter a title" name="Title" autocomplete="off" required>
        <br>
        <input type="text" maxlength="36" placeholder="Enter a console" name="Console" autocomplete="off" required>
        <br>
        <textarea rows="8" maxlength="350" type="text" placeholder="Enter a description of the game" name="Details" autocomplete="off" required></textarea>
        <button type="submit" >Submit Query</button>
    </form>
</section>
{% endblock %}