<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<section>
    <header>
        <h3 class="center" id="title">
            <span class="retro">{{ red }}</span>
            <span class="review">{{ blue }}</span>
        </h3>
        <hr>
        <p>This game is part of the {{ game.series }} series and was on the {{ game.console }}. {{ game.details }}</p>
        <!-- <p>You can search for something in particular using a keyword within the following search bar.</p> -->
    </header>
</section>
{% if "guide" in game.comment_tag %}
    <section>
        <header>
            <h4>Guides</h4>
            <hr>
        </header>
        {% for tag in game.comment_tag %}
            {% if tag == "guide" %}
                {% if loop.index-1 == 0 or not game.comment_title[loop.index-2] == game.comment_title[loop.index-1] or not game.comment_tag[loop.index-1] == game.comment_tag[loop.index] or not game.author[loop.index-1] == game.author[loop.index] %}
                    <details class="comment bottom">
                        <summary>
                            {{ game.comment_title[loop.index-1] }}
                            <span class="right">by {{ game.author[loop.index-1] }}</span>
                        </summary>
                {% endif %}
                {% if game.comment_tag[loop.index-1] == game.comment_tag[loop.index] and game.author[loop.index-1] == game.author[loop.index] %}
                    <span class="content">{{ game.comment[loop.index-1] }}</span>
                    <br>
                {% else %}
                        <span class="content">{{ game.comment[loop.index-1] }}</span>
                    </details>
                {% endif %}
            {% endif %}
        {% endfor %}
    </section>
{% endif %}
{% if "trivia" in game.comment_tag %}
    <section>
        <header>
            <h4>Trivia</h4>
            <hr>
        </header>
        {% for tag in game.comment_tag %}
            {% if tag == "trivia" %}
                {% if loop.index-1 == 0 or not game.comment_title[loop.index-2] == game.comment_title[loop.index-1] or not game.comment_tag[loop.index-1] == game.comment_tag[loop.index] or not game.author[loop.index-1] == game.author[loop.index] %}
                    <details class="comment bottom">
                        <summary>
                            {{ game.comment_title[loop.index-1] }}
                            <span class="right">by {{ game.author[loop.index-1] }}</span>
                        </summary>
                {% endif %}
                {% if game.comment_tag[loop.index-1] == game.comment_tag[loop.index] and game.author[loop.index-1] == game.author[loop.index] %}
                    <span class="content">{{ game.comment[loop.index-1] }}</span>
                    <br>
                {% else %}
                        <span class="content">{{ game.comment[loop.index-1] }}</span>
                    </details>
                {% endif %}
            {% endif %}
        {% endfor %}
    </section>
{% endif %}
{% if "glitch" in game.comment_tag %}
    <section>
        <header>
            <h4>Glitches</h4>
            <hr>
        </header>
        {% for tag in game.comment_tag %}
            {% if tag == "glitch" %}
                {% if loop.index-1 == 0 or not game.comment_title[loop.index-2] == game.comment_title[loop.index-1] or not game.comment_tag[loop.index-1] == game.comment_tag[loop.index] or not game.author[loop.index-1] == game.author[loop.index] %}
                    <details class="comment bottom">
                        <summary>
                            {{ game.comment_title[loop.index-1] }}
                            <span class="right">by {{ game.author[loop.index-1] }}</span>
                        </summary>
                {% endif %}
                {% if game.comment_tag[loop.index-1] == game.comment_tag[loop.index] and game.author[loop.index-1] == game.author[loop.index] %}
                    <span class="content">{{ game.comment[loop.index-1] }}</span>
                    <br>
                {% else %}
                        <span class="content">{{ game.comment[loop.index-1] }}</span>
                    </details>
                {% endif %}
            {% endif %}
        {% endfor %}
    </section>
{% endif %}
{% if "general" in game.comment_tag %}
    <section>
        <header>
            <h4>General</h4>
            <hr>
        </header>
        {% for tag in game.comment_tag %}
            {% if tag == "general" %}
                {% if loop.index-1 == 0 or not game.comment_title[loop.index-2] == game.comment_title[loop.index-1] %}
                    <details class="comment bottom">
                        <summary>
                            {{ game.comment_title[loop.index-1] }}
                            <span class="right">by {{ game.author[loop.index-1] }}</span>
                        </summary>
                {% endif %}
                {% if game.comment_tag[loop.index-1] == game.comment_tag[loop.index] and game.author[loop.index-1] == game.author[loop.index] %}
                    <span class="content">{{ game.comment[loop.index-1] }}</span>
                    <br>
                {% else %}
                        <span class="content">{{ game.comment[loop.index-1] }}</span>
                    </details>
                {% endif %}
            {% endif %}
        {% endfor %}
    </section>
{% endif %}
{% endblock %}