<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
<section>
    <header>
        <h3 id="title">
            <span class="retro">{{ game.name }}</span>
        </h3>
        <hr>
        <p>{{ game.details }}</p>
    </header>
</section>
<section>
    <header>
        <h4 class="blue">Guides</h4>
        <hr>
    </header>
    {% for comments in game.guide_comments %}
        {% if game.guide_commenters[loop.index-1] != game.guide_commenters[loop.index] %}
            <div class="comment">
                <p>{{ comments }}</p>
                <span class="author"> by {{ game.guide_commenters[loop.index-1] }}</span>
            </div>
        {% else %}
            <div>
                <p>{{ comments }}</p>
            </div>
        {% endif %}
    {% endfor %}

</section>
<section>
    <header>
        <h4 class="blue">Trivia</h4>
        <hr>
    </header>
    {% for comments in game.fact_comments %}
        <div class="comment">
            <p>{{ comments }}</p>
            {% if game.fact_commenters[loop.index-1] != game.fact_commenters[loop.index] %}
                <span class="author"> by {{ game.fact_commenters[loop.index-1] }}</span>
            {% endif %}
        </div>
    {% endfor %}
</section>
<section>
    <header>
        <h4 class="blue">Glitches</h4>
        <hr>
    </header>
    {% for comments in game.glitch_comments %}
        <div class="comment">
            <p>{{ comments }}</p>
            {% if game.glitch_commenters[loop.index-1] != game.glitch_commenters[loop.index] %}
                <span class="author"> by {{ game.glitch_commenters[loop.index-1] }}</span>
            {% endif %}
        </div>
    {% endfor %}
</section>
<section>
    <header>
        <h4 class="blue">General</h4>
        <hr>
    </header>
    {% for comments in game.comments %}
        <div class="comment">
            <p>{{ comments }}</p>
            {% if game.commenters[loop.index-1] != game.commenters[loop.index] %}
                <span class="author"> by {{ game.commenters[loop.index-1] }}</span>
            {% endif %}
        </div>
    {% endfor %}
</section>
{% endblock %}