<!DOCTYPE html>
{% extends "base.html" %}
{% block content %}
    <header>
        <h3 id="title"><span class="retro">The Legend Of Zelda</span>
        <span class="review">Ocarina Of Time</span></h3><hr>
    </header>
    <details class="red">
        <summary>Initial Opinion</summary>
        <p>This is a game for the Nintendo 64, and is part of the The Legend of Zelda series. This game took a step in a different direction though and presented Link and his adventures through a new dimension. At first this game can cause a mixture of votes in whether it was a bad or good game but I believe it was a great presentation of a really emersive adventure. It has several amazing maps and a very long run time onces played through. Even though you may not enjoy the collectables the game still has a very long runtime.</p>
    </details>
    
{% endblock %}